@import '../color.scss';



#notificationFollow-button {
    text-align: center;
    margin-bottom: 15px;
    border-bottom: solid 2px green;

    & > input {
        border-radius: 15px;
        border: 0;
        cursor: pointer;
        padding: 3px 12px;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
}


#notificationFollow-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > #notiFollowMap-div {
        border: solid 2px $background-border;
        background-color: $background-divs;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px;
        margin: 5px 0;
        width: 75%;

        & > #notiFollowMap-date {
            text-align: center;
            margin: 0;
            width: 90%;
            border-bottom: solid 2px $background-border;
        }

        & > #notiFollowMap-data {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: -2px 0;
            width: 100%;

            & > #notiFollowMap-data-img {
                width: 45px;
                border: solid 2px $background-border;
                border-radius: 50%;
            }

            & > #notiFollowMap-data-username {
                font-size: 1.15rem;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    letter-spacing: 2px;
                    font-style: italic;
                }
            }

            & > #notiFollowMap-data-button {
                border: 0;
                border-radius: 15px;
                padding: 3px 10px;
                cursor: pointer;
            }
        }
    }
}