@import '../color.scss';


#inboxChat-body {
    margin-top: 50px;

    & > #inboxChat-input {
        border-bottom: solid 2px $background-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px 0;

        & > #inboxChat-textarea {
            resize: none;
            border-radius: 25px;
            padding: 5px 15px;
            border: 0;
        }

        & > input {
            margin: 5px;
        }
    }
}



#inboxChat-div {
    border: $background-border solid 2px;
    border-radius: 25px;
    padding: 5px 15px;
    margin: 3px;

    & > p {
        margin: 3px;
        font-size: 0.8rem;
    }

    & > #inboxChat-text {
        margin-top: 5px;
        padding-top: 5px;
        border-top: solid 2px $background-border;
    }

    & > .start {
        text-align: justify;
        padding-right: 75px;
    }

    & > .end {
        text-align: justify;
        padding-left: 75px;
        align-items: end;
    }
}


.opposite {
    background-color: $background-divs;
}

.current {
    background-color: rgb(204, 202, 202);
}