@import '../color.scss';


#inbox-body {
    margin-top: 50px;

    & > #chat-div {
        border: solid $background-border 2px;
        border-radius: 25px;
        padding: 5px 20px;
        margin: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;

        & > img {
            width: 50px;
            border-radius: 50%;
            border: solid 2px $background-border;
        }

        & > p {
            font-size: 1.5rem;
            margin: 0;
            font-weight: 600;
        }
    }

    & > .notRead {
        background-color: rgb(246, 126, 126);
    }

    & > .read {
        background-color: $background-divs;
    }
}

