$background:rgb(160, 238, 157);
$background-divs: rgb(141, 140, 140);
$background-text: rgb(212, 212, 212);
$background-border: rgb(60, 60, 60);
$background-red: rgb(244, 133, 133);


$navbar-icons: rgb(8, 189, 8);
$navbar-icons-active: rgb(11, 92, 11);


$rotulo: rgb(22, 41, 27);


$button-active: rgb(46, 46, 46);


$border-button: rgb(44, 43, 43);