@import './color.scss';

#navbar-global {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $background;
    border-bottom: 2px solid green;

    & > #navbar-links {
        margin-top: 8px;
        display: flex;
        justify-content: space-evenly;

        & > .link {
            color: rgb(8, 189, 8);
            text-decoration: none;
            font-size: 1.5rem;

            &:hover{
                color: $navbar-icons;
            } 
        }

        
        & > .notification {
            color: red;
            text-decoration: none;
            font-size: 1.5rem;

            & > :hover {
                color: rgb(119, 0, 0);
            }

        }
    }
}