@import './color.scss';


#response-body {
    margin-top: 100px;
}



#response-postPrincipal {
    background-color: $background-divs;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > #response-postPrincipal-header {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        width: 95%;
        margin-top: 5px;

        & > #response-postPrincipal-header-img img {
            width: 100px;
        }

        & > #response-postPrincipal-header-userData {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 95%;

            & > p {
                margin: 0;
            }

            & > #userData-username {
                font-weight: 750;
                font-size: 1.25rem;
                letter-spacing: 2px;
            }
        }
    }

    & > #response-postPrincipal-post {
        background-color: $background-text;
        border-radius: 15px;
        padding: 5px 15px;
        margin-bottom: 10px;
        text-align: center;
        width: 85%;
    }
}




#response-responses {
    display: flex;
    flex-direction: column;
    align-items: end;

    & > #response-border {
        border-left: green 2px solid;
        border-bottom: green 2px solid;
        margin-top: 5px;
        padding: 0 10px;
        width: 80%;

        & > #getResponse-div {
            background-color: $background-divs;
            border-radius: 25px;
            padding: 5px;
            margin: 10px 0;

            & > p {
                text-align: center;
                margin: 8px 0;
            }

            & > #getResponse-div-username {
                letter-spacing: 2px;
                font-size: 1.25rem;
                font-weight: 750;
            }

            & > #getResponse-div-post {
                background-color: $background-text;
                border-radius: 15px;
                padding: 5px 10px;
                margin: 0 10px 5px 10px;
            }
        }
    }
}

