@import '../color.scss';


#response-body {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



#response-postPrincipal {
    background-color: $background-divs;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    width: 100%;
    max-width: 750px;
    min-width: 0;

    & > #response-postPrincipal-header {
        display: flex;
        justify-content: space-evenly;
        width: 95%;
        margin-top: 5px;
        margin-bottom: -10px;
        border-bottom: 1px solid $border-button;
        padding-bottom: 5px;

        & > #response-postPrincipal-header-img {
            width: fit-content;
            display: flex;
            justify-content: center;

            & > img {
            width: 75px;
            border-radius: 50%;
            border: solid 2px $background-border;
            }
        }

        & > #response-postPrincipal-header-userData {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: fit-content;

            & > p {
                margin: 0;
            }

            & > #userData-username {
                font-weight: 750;
                font-size: 1.25rem;
                letter-spacing: 2px;
                cursor: pointer;

                &:hover {
                    letter-spacing: 5px;
                    font-style: italic;
                }
            }
        }
    }

    & > #response-postPrincipal-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;

        & > #response-postPrincipal-post {
            background-color: $background-text;
            border-radius: 15px;
            padding: 5px 15px;
            margin-bottom: 10px;
            margin-top: 2px;
            text-align: center;
            width: 85%;
            white-space: pre-wrap;
        }

        & > #response-postPrincipal-img {
            width: 95%;
            border-radius: 15px;
            margin-bottom: 10px;
            border: solid 2px $background-border;
        }
    }
}






#response-responses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & > #response-border {
        border-radius: 0 25px;
        border-left: green 2px solid;
        border-bottom: green 2px solid;
        margin-top: 5px;
        margin-right: -5px;
        padding: 0 5px;
        width: 100%;
        max-width: 550px;
        min-width: 0;

        & > #getResponse-div {
            background-color: $background-divs;
            border-radius: 25px;
            padding: 5px;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            & > p {
                text-align: center;
                margin: 8px 0;
            }

            & > #getResponse-div-button {
                width: 100%;
                display: flex;
                justify-content: center;

                & > input {
                    background-color: $background-red;
                    color: black;
                    text-align: center;
                    border: 0;
                    border-radius: 15px;
                    padding: 2px 10px;
                    cursor: pointer;
                    letter-spacing: 2px;
                    margin-top: 8px;

                    &:hover {
                        background-color: red;
                        color: white;
                    }
                }
            }

            & > #getResponse-div-header {
                border-bottom: solid 1px $background-border;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 95%;
                margin-bottom: 5px;
                padding-bottom: 4px;

                & > #getResponse-div-userIMG {
                    width: 50px;
                    border-radius: 50%;
                    border: 2px solid $background-border;
                }


                & > #getResponse-div-header-data {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 300px;

                    & > p {
                        margin: 0;
                    }

                    & > #getResponse-div-username {
                        letter-spacing: 2px;
                        font-size: 1.25rem;
                        font-weight: 750;
                        cursor: pointer;
        
                        &:hover {
                            letter-spacing: 5px;
                            font-style: italic;
                        }
                    }
        
                    & > #getResponse-div-date {
                        width: 95%;
                        padding-bottom: 5px;
                        text-align: center;
                    }
                }
            }

   

            & > #getResponse-div-post {
                background-color: $background-text;
                border-radius: 15px;
                padding: 5px;
                margin: 0 5px;
                white-space: pre-wrap;
            }

            & > #getResponse-div-img {
                width: 95%;
                border-radius: 25px;
                margin-top: 10px;
            }
        }
    }
}

