@import '../color.scss';


#perfilData-body {
    background-color: $background;
    border-bottom: solid 2px green;
    padding: 5px 0;
    margin-top: -10px;
    position: fixed;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;

    & > #perfilData-data {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & > img {
            width: 100px;
            border-radius: 50%;
        }

        & > #perfilData-p {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: center;

            & > #perfilData-header {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin-top: -10px;
                margin-bottom: 5px;
                width: 100%;

                & > #perfilData-user {
                    font-size: 1.8rem;
                    font-weight: 750;
                    margin: 0;
                }

                & > #perfilData-inbox {
                    font-size: 1.8rem;
                    cursor: pointer;
                }
            }

            & > p {
                margin: 0;
            }
    
            & > #perfilData-date {
                margin-bottom: 5px;
            }
        }
    }
}