@import '../color.scss';


#validate-header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px $background-border;

    & > img {
        width: 50px;
        border-radius: 50%;
    }
}