@import '../color.scss';

#validateCorrect-body {
    margin-top: 15px;
    text-align: justify;

    & > h3 {
        text-align: center;
    }

    & > #greeting {
        margin-left: 15px;
    }

    & > a {
        text-decoration: none;
        cursor: pointer;
        color: green;

        &:hover {
            color: $background-divs;
            letter-spacing: 2px;
        }
    }

    & > input {
        margin-left: 15px;
        border-radius: 15px;
        border: 1px solid $background-border;
        padding: 3px 10px;
    }
}