@import '../color.scss';

#newPost-body {
    background-color: $background;
    position: fixed;
    top: 75px;
    padding-top: 35px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    & > #newPost-div-form {
        background-color: $background-divs;
        width: fit-content;
        padding: 15px;
        border-radius: 15px;

        & > #newPost-row-1 {
            display: flex;
            justify-content: center;
        }
    }
}