@import '../color.scss';

#newPost-body {
    background-color: $background;
    position: fixed;
    top: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px green;

    & > #newPost-div-form {
        background-color: $background-divs;
        width: fit-content;
        padding: 15px;
        border-radius: 15px;

        & > #newPost-form > #newPost-row-1 {
            display: flex;
            justify-content: center;
            align-items: center;

            & > #user-img {
                border-radius: 50%;
                height: 75px;
            }

            & > #newPost-input {
                border-radius: 15px;
                padding: 5px;
            }
        }
    }
}