@import '../color.scss';

#post-body {
    margin-top: 300px;
}

#post-div {
    background-color: $background-divs;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 15px 0;

    & > #post-header {
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
            border-radius: 50%;
            margin: 10px 25px 0 0;
            height: 100px;
        }
    }

    & > #post-date {
        text-align: center;
    }

    & > #post-post {
        background-color: $background-text;
        text-align: justify;
        border-radius: 15px;
        padding: 10px;
    }

    & > #buttons-post {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 15px;
        margin-top: -10px;
    }
}