@import '../color.scss';



#userStadistic-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px green;
    padding-bottom: 6px;
    width: 100%;

    & > #userStadistic-container {
        width: 16rem;
        margin-top: 5px;
        width: 85%;
        max-width: 800px;


        & > #userStadistic-header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: -20px 0;

            & > #userStadistic-welcome {
                font-size: 1.5rem;
                color: $rotulo;
                font-weight: 600;
            }

            & > #userStadistic-img {
                border-radius: 25px;
                width: 50px;
                border: 2px solid $background-border;
                margin-left: 10px;
            }
        }


        & > #userStadistic-stadistic {
            display: flex;
            flex-direction: column;
            flex-direction: center;
            align-items: center;
            margin-top: 15px;

            & > p {
                font-size: 0.9rem;
                margin: 0;
                letter-spacing: 2px;
            }
        }
    }
}


@media (max-width: 250px) {
    #userStadistic-header {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        & > #userStadistic-img {
            margin-top: 15px;
            margin-bottom: -20px;
        }

        & > #userStadistic-welcome {
            text-align: center;
        }
    }

    #userStadistic-stadistic {
        text-align: center;
    }
}