@import '../color.scss';



#postByUser-body {

    & > #postMap-div {
        background-color: $background-divs;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
        border-radius: 25px;

        & > #postMap-date {
            font-weight: 600;
            margin: 10px 0;
            border-bottom: solid 2px $background-border;
            width: 95%;
            text-align: center;
            padding-bottom: 3px;
        }

        & > #postMap-post {
            background-color: $background-text;
            text-align: justify;
            border-radius: 15px;
            padding: 5px 10px;
            width: 85%;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            white-space: pre-wrap;
        }

        & > #postMap-img {
            width: 95%;
            border-radius: 25px;
            margin-top: 5px;
            border: 2px solid $background-border;;
        }

        & > #postMap-buttons {
            width: 95%;
            display: flex;
            justify-content: space-evenly;
            margin: 10px 0;

            & > input {
                cursor: pointer;
                border: 0;
                font-weight: 600;
                border-radius: 15px;
                padding: 3px 10px;
            }

            & > .deletePost {
                background-color: $background-red;

                &:hover {
                    background-color: red;
                    color: white;
                }
            }
        }
    }
}




#postByUser-body {

    & > #responseMap-div {
        background-color: $background-divs;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
        border-radius: 25px;

        & > #responseMap-date {
            font-weight: 600;
            margin: 10px 0;
            border-bottom: solid 2px $background-border;
            width: 95%;
            text-align: center;
            padding-bottom: 3px;
        }

        & > #responseMap-response {
            background-color: $background-text;
            text-align: justify;
            border-radius: 15px;
            padding: 10px;
            width: 85%;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            white-space: pre-wrap;
        }

        & > #responseMap-img {
            border-radius: 25px;
            width: 95%;
            margin-top: 5px;
            border: 2px solid $background-border;
        }

        & > input {
            border: 0;
            cursor: pointer;
            font-weight: 600;
            border-radius: 15px;
            padding: 2px 10px;
            margin: 10px 0;
        }

        & > .deletePost {
            background-color: $background-red;

            &:hover {
                background-color: red;
                color: white;
            }
        }
    }
}





#followByUser-body {

    & > #followByUser-buttons {
        display: flex;
        justify-content: space-evenly;
        padding: 5px 0;
        border-top: solid 2px $background-border;

        & > input {
            cursor: pointer;
            border-radius: 15px;
            padding: 5px 15px;
            border: 0;
            font-size: 0.9rem;
            font-weight: 650;
        }
    
        & > #active {
            background-color: $button-active;
            color: beige;
        }
    }



    & > #followByUser-data {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > #follow-div {
            border: solid 2px $background-border;
            border-radius: 15px;
            background-color: $background-divs;
            margin: 2px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 75%;

            & > img {
                width: 50px;
                border: solid 2px $background-border;
                border-radius: 50%;
            }

            & > p {
                font-weight: 600;
                font-size: 1.2rem;
                cursor: pointer;

                &:hover {
                    letter-spacing: 2px;
                    font-style: italic;
                }
            }

            & > input {
                height: fit-content;
                cursor: pointer;
                border: 0;
                border-radius: 15px;
                padding: 3px 8px;
            }

            & > .deleteFollow {
                background-color: $background-red;
    
                &:hover {
                    background-color: red;
                    color: white;
                }
            }

            & > .follow {
                background-color: $chat-currentUser;
                color: black;
    
                &:hover {
                    background-color: $navbar-icons-active;
                    color: white;
                }
            }
        }
    }
}