#userStadistic-body {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px green;
    margin-top: -10px;
    padding-bottom: 6px;

    & > p {
        font-size: 1.25rem;
        font-weight: 600;
    }
}