@import '../color.scss';


#userData-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: -35px;

    & > #userData-img > img {
        height: 75px;
        border: 2px solid $background-border;
        border-radius: 50%;
    }

    & > #userData-data {

        & > p {
            margin: 10px 0;
        }
    }
}